:root{
/*  colors   */
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);

/*   typo   */
--ff-header: "Poppins", serif;
--ff-body: "Open Sans", serif;

--fw-normal: 400;
--fw-bold: 600;

--fs-title: clamp(1.75rem, 1.2166rem + 1.9666vw, 2.6rem);

--padding-inline: 2.6rem;

}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}
body{
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--Violet);
    font-family: var(--ff-body);
    color: hsla(0, 0%, 100%, 0.95);
}
.wrapper{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    padding-block: 2.25rem;
}
.flex-container{
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    width: 100%;
}

.col-1 .logo{
    width: clamp(9.5rem, 5.14vw + 8.186rem, 12.813rem);
    margin-bottom: 4.5rem;
}
.col-1 img{
    width: clamp(20rem, 36.355vw + 11.28rem, 44rem);
    margin-bottom: 4.25rem;
}
.col-2 .title{
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    font-family: var(--ff-header);
    margin-bottom: 1rem;
}
.col-2{
    text-align: center;
}
.col-2 .content{
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: var(--fw-normal);
    margin-bottom: 2rem;
}
.btn{
    padding: 1rem 5.5rem;
    border-radius: 2rem;
    border: none;
    color: var(--Violet);
    font-size: .85rem;
    letter-spacing: 0.5px;
    box-shadow: 1px 2px 5px 0 hsla(0, 0%, 0%, 0.4);
    margin-bottom: 5rem;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-bottom: .25rem;
}
.icon-svg{
    width: 30px;
    height: 30px;     
}
svg{
    fill: white;
    border-radius: 50%;
    outline: 1px solid white;
    outline-offset: 7px;
    width: 16px;
    height: 16px;
}
.icon-svg:not(.icon-svg:first-child){
    margin-left: .9rem;
}
@media (width > 950px){
    body{
        background-image: url(./images/bg-desktop.svg);
        background-size: contain;
        background-position: -40px;
    }
    .wrapper{
        width: initial;
        padding: 4rem 4.375rem 1.25rem; 
    }
    .flex-container{
        flex-direction: row;
        gap: 3.5rem;       
    }
    .col-1 .logo{
        margin-bottom: 5.5rem;
    }
    .col-1 img{
        margin-bottom: 1.5rem;
    }
    .col-2{
        text-align: start;
        align-self: center;
    }
    .btn{
        font-size: 1.125rem;
        padding: 1.125rem 4rem;
    }
    .social-icons{
        justify-content: flex-end;
    }
    .icon-svg{
        width: 50px;
        height: 50px;   
    }
    svg{
        width: 25px;
        height: 25px;
    }
}